#scm-detail-popover,
#scrum-master-burndown-summary {
    font-size: 12px;
    color: #939393;
    line-height: 32px;
    border-left: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    padding-left: 5px;
    padding-right: 5px;
    background: #ffffff;
    width: 300px;
}
#scrum-master-burndown-summary {
    cursor: pointer;
    margin: 0 4px 0 0;
    height: 30px;
}

#scrum-master-burndown-summary .scm-heading {
    font-weight: bold;
}

#scm-detail-popover {
    display: none;
    z-index: 99999;
    position: absolute;
    line-height: 14px;
    padding-bottom: 3px;
    border-bottom: 1px solid #aaaaaa;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}